PORT=8080
RESEND_API_KEY=re_your_api_key_here
NOTIFICATION_RECIPIENT=your-inbox@example.com

# Firebase Service Account Credentials details (Generate in Firebase Console)
FIREBASE_PROJECT_ID=display-world-firebase-id
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@display-world.iam.gserviceaccount.com
# Provide the private key wrapped in quotes, with literal newline characters replaced by \n
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC..."
FIREBASE_STORAGE_BUCKET=display-world.appspot.com
